<p>Nombre del empleado: {{nombre}}</p>
<p>Apellido del empleado: {{apellido}}</p>
<p>Edad del empleado: {{edad.value }}</p>
<!-- <p>Edad del empleado: {{getEdad()+10}}</p> -->
<p>Cargo del empleado: {{cargo}}</p>
<p>Empresa: {{empresa}}</p>
<br>
<br>
Intorudce la edad: <input type="text" (keyup)="0" #edad [disabled]="habilitacionCuadro">
<p>{{registrado ? successfulRegistry : failureRegistry}}</p>
<br>
<br>
registrado : <input type="checkbox" #registro [checked]="registrado" (click)="changeRegistry()">
<br>
<br>
<input type="button" value="cambiar registro" (click)="changeRegistry()">